@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesap Makinesi</h2>
<br />

<form class="form-group" method="post">
    <div>
        Sayi1: <input type="text" name="sayi1" id="sayi1" /><br /><br />
        Sayi2: <input type="text" name="sayi2" id="sayi2" /><br /><br />
        <button class="btn btn-warning">Hesapla</button> <br />

        SAYI 1: @ViewBag.sayi1  <br />
        SAYI 2: @ViewBag.sayi2  <br />
        TOPLAM: @ViewBag.tplm  <br />
        CIKARMA: @ViewBag.ckrm  <br />
        CARPMA: @ViewBag.crp  <br />
        BOLME : @ViewBag.blm  <br />
    </div>
</form>
