@using OgrenciNotSistemiMvc.Models.EntityFramework
@model List<TBLOGRENCILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ÖĞRENCİ ID</th>
        <th>ÖĞRENCİ ADI</th>
        <th>ÖĞRENCİ SOYADI</th>
        <th>CİNSİYET</th>
        <th>KULÜP</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach (var ogr in Model)
        {
        <tr>
            <td>@ogr.OGRENCIID</td>
            <td>@ogr.OGRAD</td>
            <td>@ogr.OGRSOYAD</td>
            <td>@ogr.OGRCINSIYET</td>
            <td>@ogr.TBLKULUPLER.KULUPAD</td>
            <td>
                <a href="/Ogrenci/Sil/@ogr.OGRENCIID" class="btn btn-danger">SİL</a>
                <a href="/Ogrenci/OgrenciGetir/@ogr.OGRENCIID" class="btn btn-success">GÜNCELLE</a>
            </td>
      
        </tr>
        }
    </tbody>

</table>

<a href="/Ogrenci/YeniOgrenci" class="btn btn-primary">Yeni Öğrenci Kaydı</a>