@model OgrenciNotSistemiMvc.Models.EntityFramework.TBLOGRENCILER
@{
    ViewBag.Title = "OgrenciGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Ogrenci", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.OGRAD)
    @Html.TextBoxFor(m => m.OGRAD, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OGRSOYAD)
    @Html.TextBoxFor(m => m.OGRSOYAD, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OGRFOTO)
    @Html.TextBoxFor(m => m.OGRFOTO, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.OGRKULUP)
    @*@Html.TextBoxFor(m => m.OGRKULUP, new { @class = "form-control" })*@
    @Html.DropDownListFor(m => m.TBLKULUPLER.KULUPID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OGRCINSIYET)
    @Html.TextBoxFor(m => m.OGRCINSIYET, new { @class = "form-control" })
</div>

@Html.HiddenFor(m => m.OGRENCIID)
<div style="margin-top:15px">
    <button class="btn btn-info">Güncelle</button>
</div>
}


